.header {
  background-color: var(--cor-preto);
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header  img {
  width: 10rem;
}

@media screen and (max-width: 450px) {
  .header img {
    width: 7rem;
  }

  .header Button {
    width: 7rem;
  }
}